# The following manifests contain a self-signed issuer CR and a certificate CR.
# More document can be found at https://docs.cert-manager.io
{{- if not (hasKey .Values.certificate "issuerRef") }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: ndots-admission-controller
  labels:
    {{- include "ndots-admission-controller.labels" . | nindent 4 }}
spec:
  selfSigned: {}
{{- end }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "ndots-admission-controller.fullname" . }}
  labels:
    {{- include "ndots-admission-controller.labels" . | nindent 4 }}
spec:
  duration: "{{ .Values.certificate.duration }}"
  commonName: {{ include "ndots-admission-controller.fullname" . }}.{{ .Release.Namespace }}.svc
  dnsNames:
  - {{ include "ndots-admission-controller.fullname" . }}.{{ .Release.Namespace }}.svc.{{ .Values.cluster-domain }}
  - {{ include "ndots-admission-controller.fullname" . }}.{{ .Release.Namespace }}.svc.{{ .Values.cluster-domain }}
  issuerRef:
    kind: {{ default "Issuer" (.Values.certificate.issuerRef).kind }}
    name: {{ default "ndots-admission-controller" (.Values.certificate.issuerRef).name }}
  secretName: {{ include "ndots-admission-controller.fullname" . }}-cert
