---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name:  {{ include "ndots-admission-controller.fullname" . }}
  annotations:
    {{- if .Values.certificate.issuerRef }}
    {{- if or (not (hasKey .Values.certificate.issuerRef "namespace")) (not (hasKey .Values.certificate.issuerRef "name")) }}
    {{ fail "both certificate.issuerRef.namespace and certificate.issuerRef.name must be set" }}
    {{- end }}
    cert-manager.io/inject-ca-from: {{ .Values.certificate.issuerRef.namespace}}/{{ .Values.certificate.issuerRef.name}}
    {{- else }}
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ include "ndots-admission-controller.fullname" . }}
    {{- end }}
  labels:
    {{- include "ndots-admission-controller.labels" . | nindent 4 }}
webhooks:
- name: ndots.laverse.net
  failurePolicy: {{ .Values.failurePolicy }}
  objectSelector:
    matchExpressions:
    - key: app.kubernetes.io/name
      operator: NotIn
      values:
      - ndots-admission-controller
  rules:
  - apiGroups:   [""]
    apiVersions: ["v1"]
    operations:  ["CREATE"]
    resources:   ["pods"]
    scope:       "Namespaced"
  clientConfig:
    service:
      namespace: {{ .Release.Namespace }}
      name:  {{ include "ndots-admission-controller.fullname" . }}
      path: "/webhook"
  admissionReviewVersions: ["v1", "v1beta1"]
  sideEffects: None
  timeoutSeconds: 5